<div class="todo-container">
  <h1>Angular 19</h1>
  <h1>Lista de tareas</h1>
  <input
    type="text"
    [(ngModel)]="newTaskTitle"
    placeholder="Agregar tarea..."
    (keyup.enter)="addTask()"
  />
  <p><strong>Tareas completadas: </strong>{{ completedCount() }}</p>
  <ul>
    @for (task of tasks(); track $index) {
    <li>
      <span [class.completed]="task.completed" (click)="toggleTask(task.id)">
        {{ task.title }}
      </span>
      <button class="button-ready" (click)="toggleTask(task.id)">✅</button>
      <button class="button-cancel" (click)="deleteTask(task.id)">❌</button>
    </li>
    }
  </ul>
</div>
@defer(hydrate on idle) {
<div class="stats">
  <p><strong>Tareas totales:</strong> {{ tasks().length }}</p>
  <p>
    <strong>Porcentaje completado:</strong>
    {{ (completedCount() / tasks().length) * 100 | number : "1.0-2" }}%
  </p>
</div>
}
